/* Center the text in the caption */
.highslide-caption {
	width: 100%;
	text-align: center;
}

/* Put the image number in front of the caption */
.highslide-number {
	display: inline;
	padding-right: 1em;
	color: black;
}

body
{
	background-color: black;
}

div.album-name
{
	text-align: center;
	color: white;
	font-size: 20pt;
	font-weight:bold;
}

div.subalbum-name
{
	color: white;
	font-size: 12pt;
}

div.album-thumb {
	align: center;
}

span.thumb {
	width: 150;
}
