
/* Center the text in the caption */
.highslide-caption
{
	width: 100%;
	text-align: center;
	font-size: 15pt;
}


.borderless .highslide-caption
{
	font-size: 15pt;
}

/* Put the image number in front of the caption */
.highslide-number {
	display: inline;
	padding-right: 1em;
	color: black;
}

body
{
	background-color: black;
}

div.album-name
{
	text-align: center;
	color: white;
	font-size: 20pt;
	font-weight:bold;
}

div.album-thumb
{
	display: table;
	margin: 0 auto;
	margin-bottom: 50px;
}

div.thumbnails-wrapper
{
	display: table;
	margin: 0 auto;
}

div.subalbum-name
{
	color: white;
	font-size: 15pt;
}

span.subalbum-link
{
	display: inline-block;
	width: 300px;
	height: 300px;
	text-align: center;
	vertical-align: top;
}

span.thumb {
	display: inline-block;
	width: 210px;
	text-align: center;
	
}

img.subalbum-link {
	width: auto;
	height:200px;
	text-align:center;
}

.highslide-thumbstrip-horizontal img {
   width: auto;
   height: 100px;
}

.highslide-thumbstrip-vertical img {
   width: 150px;
   height: auto;
}

