/* Center the text in the caption */
.highslide-caption {
	width: 100%;
	text-align: center;
}

/* Put the image number in front of the caption */
.highslide-number {
	display: inline;
	padding-right: 1em;
	color: black;
}

body
{
	background-color: black;
}

div.album-name
{
	text-align: center;
	color: white;
	font-size: 20pt;
	font-weight:bold;
}

div.album-thumb
{
	display: table;
	margin: 0 auto;
	margin-bottom: 50px;
}

div.subalbum-name
{
	color: white;
	font-size: 12pt;
}

span.thumb {
	display: inline-block;
	width: 210px;
	text-align: center;
	
}
